# Systemd service file 

[Unit]
Description=Tuntox - TCP tunnel over Tox protocol
After=network.target

[Service]
Type=simple

# Copy the tuntox binary to /usr/bin first

ExecStart=/usr/bin/tuntox
Restart=on-failure

# Change this to your user and group for increased security
# Make sure this user/group has access to /etc/tuntox
#User=proxy
#Group=proxy

# Uncomment this and add a password to enable authentication
#Environment=TUNTOX_SHARED_SECRET=yourpassword

# Makes / read-only
ProtectSystem=strict
# … except for /etc/tuntox. Modify this if you change the default directory,
# comment it out if you want to generate a new id on each start.
# Remember that /etc/tuntox still needs to be writable by User!
ReadWriteDirectories=/etc/tuntox

[Install]
WantedBy=multi-user.target
Alias=tuntox.service
